@model VideoDataResult

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>AdminController</title>
</head>
<body>
    <div style="padding:10px">
        @if (!Model.Videos.Any())
        {
            <h4> No videos in store</h4>
        }
        else
        {
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Format)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Length)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Added)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Videos)
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Size) MB
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Length) minutes
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Added)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.VideoID }, new { @class = "btn btn-default" })
                        </td>
                        <td>
                            @using (Html.BeginForm("Delete", "Admin", new { id = item.VideoID }))
                            {
                                <input type="submit" value="Delete" class="btn btn-default" onclick="return confirm('Are you sure you want to delete the video &quot;@item.Title&quot; ?')" />
                            }
                        </td>
                    </tr>
                }
            }
        </table>
        }
    </div>
</body>
</html>
