@model IPagedList<Order>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@if (!Model.Any())
{
    <h4> No orders in store</h4>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().UserID)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
            </td>
        </tr>
    }
    
    </table>
}
</body>
</html>
